@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.modal {
color: aliceblue;
    position: inherit;
    display: block;
    align-items: center;
    align-content: center;
    margin: auto;

}
.fondo{

 display: flex;
    flex-direction: column;

    justify-content: space-around
;
    flex-wrap: wrap;
    justify-content: space-around;
   
    background-color: rgb(41, 40, 40);
}
.centra {
    
    display: inline-flex;
    margin: 1rem;
    justify-content:center ;
}
.modalear {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cartItem{
    
    justify-content: center;
display: flex;
flex-wrap: wrap;
}

.ffl{
    display: flex;

}

.font{
    font-family: 'Bebas Neue', cursive;
}
.font1{
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
}
.fondoIVA{
    background-color: black;
    border-radius: 20px;
}
input {
    
    height: 1.4rem;
    border-radius: 10px;
 margin-left: 1rem;
}


.custom-form {
    /* Estilos para la nueva clase "custom-form" */
    background-color: #363636; /* Cambia el color de fondo según tus preferencias */
    border: 1px solid #e2e8f0; /* Cambia el color del borde según tus preferencias */
    box-shadow: 10px 10px 12px 14px rgb(19, 19, 19); /* Cambia las propiedades de la sombra según tus preferencias */
    /* Otros estilos que desees agregar */
    display: flex;
    align-items: center;
    justify-content: center;
margin: 2rem;
border-radius: 10px;
  }

 .finalizar {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .botonesModal{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
.cerrar{
    margin-left: 1.5rem;
}

.botonesGeneral{
    border-radius: 10px;
    background-color: #cecece;
    margin-bottom: 1rem;
}
.vistaModal{
    padding: 0.5rem;
    border-radius: 10px;

}