.modal {
color: aliceblue;
    position: inherit;
    display: block;
    align-items: center;
    align-content: center;
    margin: auto;

}
.fondo{
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    background-color: rgb(41, 40, 40);
}
.centra {
    
    display: inline-flex;
    margin: 1rem;
    justify-content:center ;
}
.modalear {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cartItem{
    
    justify-content: center;
display: flex;
flex-wrap: wrap;
}

.ffl{
    display: flex;

}